.cart-products {
  border: 3px solid #f4f4f4;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 15px;
}

.cart-products table {
  display: flex;
  flex-direction: column;
}
.cart-products table thead {
  margin: 2vh 0;
}
.cart-products table thead tr {
  display: flex;
}
.cart-products table thead tr th {
  width: 20%;
}
.cart-products table thead tr th:nth-child(5),
.cart-products table thead tr th:nth-child(6) {
  width: 10%;
}
.cart-products table tbody {
  display: flex;
  flex-direction: column;
}
.cart-products table tbody tr {
  display: flex;
  margin: 2vh 0;
}
.cart-products table tbody tr td {
  width: 20%;
}
.cart-products table tbody tr td:nth-child(5) {
  width: 10%;
}
.cart-products table tbody tr td:nth-child(6) {
  width: 10%;
}
.cart-products table tbody tr td .product-cell a {
  color: #000;
  margin-top: 1vh;
}

.cart-products th,
.cart-products td {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-products td svg:hover {
  color: #ba3424;
}

.cart-products td a {
  color: #337ab7;
  text-decoration: none;
}

.cart-values {
  display: flex;
  flex-direction: column;
}

.cart-values div {
  display: grid;
  flex-direction: row;
  justify-content: flex-end;
}

.cart-values div:not(:last-child) {
  border-top: 1px solid #f4f4f4;
  padding: 10px;
}

.cart-values div .cart-value-total {
  font-size: 2rem;
}

.cart-values button {
  width: 100%;
  display: flex;
  margin: 2vh 0 5vh 0;
  align-items: center;
  justify-content: center;
  background: #000;
  padding: 2vh 3vw;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  flex: 1;
  border: none;
}
