.cart h2 {
  margin: 2vh 0;
}
.cart button {
  width: 100%;
  max-width: 260px;
  display: flex;
  margin: 2vh 0 5vh 0;
  align-items: center;
  justify-content: center;
  background: #000;
  padding: 2vh 3vw;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  flex: 1;
}
.cart button svg {
  margin: 0 5px;
}
