.header-offset {
  padding: 98px 2vw 0;
}
.product-catalog > h2 {
  text-align: center;
  margin: 30px 0;
}

.product-catalog > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 15px;
}

.product-catalog div .product-item {
  width: 100%;
}

@media (min-width: 600px) {
  .product-catalog > div {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 768px) {
  .product-catalog > div {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 880px) {
  .header-offset {
    padding-top: 80px;
  }
}
