.catalog {
  display: flex;
  flex-direction: column;
  padding: 5vh 2vw;
}
.catalog h3 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2vh;
}
.catalog .options {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}
.catalog .options a {
  text-align: center;
  text-transform: uppercase;
  padding: 2.2vh 2vw;
  font-size: 2rem;
  letter-spacing: -1px;
  border: none;
  background-color: white;
  cursor: pointer;
}
.catalog .options .active {
  background-color: #000;
  color: #fff;
}
.catalog .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog .products::after {
  content: "";
  flex: auto;
}
