@import "./reset.css";
@font-face {
  font-family: "Archivo-Regular";
  src: url("../fonts/Archivo-Regular.ttf");
}
body,
button {
  font-family: "Archivo", sans-serif;
}
html {
  font-size: 8px;
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4.4rem;
}
h3 {
  font-size: 3.5rem;
  letter-spacing: 0px;
}
h4 {
  font-size: 1.8rem;
  letter-spacing: 0.25px;
}
p {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
}
button {
  font-size: 1.5rem;
  letter-spacing: 1.25px;
  padding: 0;
}

.header-offset {
  padding-top: 98px;
}

section {
  padding: 0 2vw;
}

@media (min-width: 768px) {
  html {
    font-size: 13px;
  }
}
@media (min-width: 880px) {
  .header-offset {
    padding-top: 80px;
  }
}

@media (min-width: 1100px) {
  html {
    font-size: 14px;
  }
}
